/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightblue: #b4d0e7;
    --blue-button: #0061ff;
    --green-square: #a2d39b;
    --brown: #61082b;
    --lightblue-square: #0093ce;
    --red-square: #ff1c1c;
    --darkred-square: #d5001f;
    --blue-square: #0d2481;
    --yellow-square: #ffd830;
    --bg-footer: #000000;
    --primary-color: #ffffff;
    --border: #d0d0d3;
    --grey: #858586;
    --link: #2929f0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}

/* nav */

ul {
    list-style: none;
}

nav {
    /* position: fixed; */
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid lightgrey;
    background-color: #ffffff;
}



.n-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

li img {
    max-width: 100px;
}

ul.n-flex {
    padding: 10px;
}

ul.n-flex li {
    padding: 10px;
}

.blue-button {
    padding: 7px 15px;
    background-color: var(--blue-button);
    text-align: center;
    width: fit-content;
    color: var(--primary-color);
    margin: 15px 0;
}

/* Header */

header {
    background-color: var(--lightblue);
    position: relative;
}

h1 {
    font-size: 70px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.h-flex {
    align-items: flex-start;
}

#jumbo {
    max-width: 700px;
    display: block;
    overflow: visible;
    margin-bottom: -65px;
}

i.fa-arrow-down {
    font-size: 45px;
    padding-top: 45px;
}

input{
    margin: 25px 0;
}

/* Main */

h2 {
    padding: 100px 0 20px;
    font-size: 33px;
}

.radio {
    padding-right: 50px;
}

.piano {
    width: calc((100% / 3) - 20px);
    border: 1px solid var(--border);
}


.center-piano {
    margin: 0 10px;
}

.center {
    text-align: center;
    border-bottom: 1px solid var(--border);
}

.padding {
    padding: 30px;
}

.bold {
    font-weight: bold;
}

.space{
    padding-bottom: 20px;
}

.grey {
    color: var(--grey);
}

.piano div.center {
    padding: 15px 0;
}

.piano div {
    font-size: 15px;
}

h3 {
    font-size: 25px;
}

.free {
    width: 100%;
}

.link {
    color: var(--link);
    text-decoration: underline;
}

.border {
    width: 25%;
    border-bottom: 1px solid var(--border);
    margin: 50px 0;
}

.check {
    padding: 10px 0;
}

.check li {
    text-indent: -1.0em;
    padding: 10px 1rem;
}

.check li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: var(--blue-button);
}
  
  .elemento {
    padding-bottom: 20px;
}

.same-height{
    align-items: stretch;
    flex-flow: row wrap;
}

.piano-finale{
    margin-top: 50px;
    width: 100%;
    border: 1px solid var(--border);
}

.start{
    align-items:first baseline;
    padding: 0;
}

.start .padding p{
    padding: 40px 0 0;
}

.margin-button{
    margin: 0 10px;
    width: 40%;
}

/* Section Partner */

.img-partner{
    width: 65%;
}

.p-partner{
    padding: 20px 0;
}

.partner-button{
    border: 1px solid var(--bg-footer);
    width: fit-content;
    padding: 10px;
}

/* Section cards */

.card{
    width: calc((100% / 3) - 20px);
}

.card img{
    max-width: 100%;
}

.card-flex{
    flex-flow: row wrap;
    gap: 30px 10px;
    padding: 30px 0;
}

.card h3{
    padding-bottom: 30px;
}

/* Section utilizzo */

.utilizzo{
    max-width: 55%;
    padding: 40px 0;
}

.utilizzo h2{
    padding-bottom: 5rem;
}

/* Section square */

.container-large{
    width: 100%;
}